
    <!-- Topbar Start -->
 
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center bg-dark px-lg-5">
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-n2">
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">{{currentDate}}</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="#">Advertise</a>
                        </li>
                        <li class="nav-item border-right border-secondary">
                            <a class="nav-link text-body small" href="/category?category=contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body small" href="/login">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right d-none d-md-block">
                <nav class="navbar navbar-expand-sm bg-dark p-0">
                    <ul class="navbar-nav ml-auto mr-n2">
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-twitter"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-facebook-f"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-linkedin-in"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-instagram"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-google-plus-g"></small></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-body" href="#"><small class="fab fa-youtube"></small></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
       
        <div class="row align-items-center bg-white py-3 px-lg-5">
            
            <div class="col-lg-4">
                
                <a href="index.html" class="navbar-brand p-0 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-uppercase text-primary">ಇದೊಂದು<span class="text-secondary font-weight-normal">ಸುದ್ದಿ</span></h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <a href="https://htmlcodex.com"><img class="img-fluid" src="img/ads-728x90.png" alt=""></a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-uppercase text-primary">ಇದೊಂದು<span class="text-white font-weight-normal">ಸುದ್ದಿ</span></h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3 show" id="navbarCollapse">

                <div class="navbar-nav mr-auto py-0">
                    <a href="/" class="nav-item nav-link ">Home</a>
                    <a href="/category?category=ಕ್ರೀಡೆ" class="nav-item nav-link">ಕ್ರೀಡೆ</a>
                    <a href="/category?category=ರಾಜಕೀಯ" class="nav-item nav-link">ರಾಜಕೀಯ</a>
                    <a href="/category?category=ಧಾರ್ಮಿಕ" class="nav-item nav-link">ಧಾರ್ಮಿಕ</a>
                    <a href="/category?category=ಪ್ರಚಲಿತ" class="nav-item nav-link">ಪ್ರಚಲಿತ</a>
                    <a href="/category?category=ವಿದೇಶ" class="nav-item nav-link">ವಿದೇಶ</a>
                    <a href="/category?category=ವಿಶೇಷ" class="nav-item nav-link">ವಿಶೇಷ </a>
                    <a href="/category?category=ಶೈಕ್ಷಣಿಕ" class="nav-item nav-link">ಶೈಕ್ಷಣಿಕ  </a>
                    <a href="/login" class="nav-item nav-link">Login</a>
                    <a href="/contact" class="nav-item nav-link">contactus </a>
                    {{!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="#" class="dropdown-item">Menu item 1</a>
                            <a href="#" class="dropdown-item">Menu item 2</a>
                            <a href="#" class="dropdown-item">Menu item 3</a>
                        </div>
                    </div> --}}
                </div>
                <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
$(document).ready(function() {
    // Get the current URL with query parameters
    const currentUrl = window.location.href;

    // Remove the "active" class from all navigation links
    $(".navbar-nav a.nav-link").removeClass("active");

    // Find the link with the matching href attribute and add "active" class
    $(".navbar-nav a.nav-link").filter(function() {
        // Check specifically for the "Home" link
        if ($(this).attr("href") === "/") {
            return currentUrl === $(this).prop("href");
        }
        // For other links, check if the current URL includes the href
        return currentUrl.includes($(this).prop("href"));
    }).addClass("active");
});
</script>




